build/
install/
log/

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

*.o
*.a
*.so
*.d

.vscode/
.project
.cproject
CMakeLists.txt.user
*.user
.idea/
.DS_Store

*~
*.swp
.#*

/bags/*
!bags/*.sh

/maps/*
!/maps/*.py
!/maps/*.sh
!/maps/*.template
!/maps/stage
!/maps/00000000_000000_sample
